doctype html
html
    head
        meta(charset=utf8)
        title=htmlWebpackPlugin.options.title
        link(rel="stylesheet" type="text/css" href="http://ueditor.baidu.com/ueditor/themes/default/css/ueditor.css")
    body
        div.container
            div#mount
    //script(src="http://ueditor.baidu.com/ueditor/ueditor.config.js")
    //script(src="http://ueditor.baidu.com/ueditor/ueditor.all.js")
    //script(src="http://ueditor.baidu.com/website/js/jquery-1.10.1.min.js")
    //引入文件导出的插件FileSaver
    script(src="https://cdn.bootcss.com/FileSaver.js/2014-08-29/FileSaver.min.js")
    //引入百度编辑器
    //script(src="./ext/utf8-php/ueditor.config.js")
    //script(src="./ext/utf8-php/ueditor.all.js")
    //script(src="http://ueditor.baidu.com/website/js/jquery-1.10.1.min.js")